{% extends "base_admin.html" %}
{% block title %}选择目的地{% endblock %}
{% block page_title %}选择目的地{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5><i class="fa fa-map-marker"></i> 请选择目的地</h5>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label for="destination" class="form-label">目的地 <span class="text-danger">*</span></label>
                    <select class="form-select" id="destination" name="destination" required>
                        <option value="">请选择目的地</option>
                        {% for code, info in destinations.items() %}
                            <option value="{{ code }}">{{ code }} - {{ info.name }} (¥{{ info.price }} - 剩余: {{ info.stock }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-flex gap-3">
                    <button type="submit" class="btn btn-custom">
                        <i class="fa fa-arrow-right"></i> 下一步
                    </button>
                    <a href="{{ url_for('index') }}" class="btn btn-secondary">
                        <i class="fa fa-arrow-left"></i> 返回首页
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
